<h1><%= @title %></h1>

<h3>Current Meetups<h3>



<ul>
  <% @meetups.each do |meetup| %>
  <li><a href="/meetups/<%= meetup.id %>"><%= meetup.title %></li>
  <%end%>
</ul>

<button><a href="/create" class="myButton">Create A Meetup</a></button>
